################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/GestionFerme-TP1/.vs
/GestionFerme-TP1/obj
